*{
  margin-top: 0;
}

.hero img{
  width: 100%;
  margin-top: 60px;
}

nav{
  position: fixed;
    left: 0;
    top: 0;
    right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  border-bottom: 1px solid gray;
}

nav img{
  width: 20%;
  float: left;
  margin: 10px;
}

nav ul{
  float: right;
  margin-top: 6px;
}

nav ul li{
  display: inline-block;
  margin: 1em
}


.map img{
  float: right;
  width: 90%;
}

main{
  margin-left: 30px;
  margin-right: 30px;
}

ul{
  display: flex;
  margin: auto;
}

article{
  padding-top: 60px;
  padding-bottom: 30px;
}

aside{
padding-top: 60px;
}

.main-container aside, .main-container img{
  float: left;
  display: flex;
}

container{
  display: flex;
}

h2{
  text-align: center;
  font-size: 4ch;
  color: rgb(26, 80, 44);
}


footer{
padding: 20px;
background-color: rgb(176, 216, 170);
}

footer img{
  width: 20%;
}

footer ul{
  float: right;
  margin-top: 6px;
}

footer ul li{
  display: inline-block;
  margin: 1em
}
